.card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    max-width: 600px;
    height: max-content;
    background-color: var(--card-bg-color);
    color: var(--text-color);
    border-radius: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, .1);
    margin: 50px auto;

    button {
        width: 100%;;
    }
}

.editDate {
    font-size: 12px;
    margin-left: auto;
    font-style: italic;
}

.cardLabels {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: center;
}

.cardTitle {
    font-size: 24px;
    line-height: 28px;
}

.cardDescription {
    font-size: 18px;
    line-height: 24px;
}

.cardAnswers {
    margin-top: auto;
    opacity: .65;
}

.cardAnswer {
    text-align: justify;
    font-style: italic;
    font-size: 14px;
    cursor: pointer;
}

.cardLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;

    li {
        margin-left: 15px;
    }
}


