.btn {
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    padding: 0.6em 1.2em;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    cursor: pointer;
    transition: border-color .25s;
    font-family: inherit;
    font-weight: 400;
    user-select: none;
}
.btn:hover {
    border-color: #2f2f2f;
}
.btn:focus,
.btn:focus-visible {
    outline: 4px auto #2f2f2f;
}
.btn:disabled {
    opacity: .5;
    pointer-events: none;
    user-select: none;
}

.active {
    color: #000;
    background-color: #ce7e1d;
}