.badge {
    border-radius: 20px;
    padding: 3px 10px;
    background-color: rgb(56, 97, 97);
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--text-color);
    width: fit-content;
}

.primary {
    background-color: #2973b2;
}

.success {
    background-color: #16c47f;
}

.warn {
    background-color: #ff9d23;
}

.alert {
    background-color: #d84040;
}